.hero{
    // 為什麼url('../../images/hero-bg-img.jpeg');無效？
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 480px;
    color: $white;
}
.show-description{
    width: 85%;
}
.show-bg{
    background-color: $secondary;
}
.streaming-bg{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/people2.png');
    background-position: center center;
    background-size: cover;
}
.purple-bg{
    background-color: $primary-transparent;
}
// .streaming-span{
//     height: 42px;
//     width: 1px;
//     background-color: $white;
// }
.streaming-title{
    border-right: 1px solid $white;
}