// 覆蓋 BS5 nav-link 的預設 padding
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
}
@include media-breakpoint-up(lg){
    .position-lg-absolute{
        position: absolute;
    }
    .translate-lg-middle{
        transform: translate(-50%, -50%);
    }
}
// swiper
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-img{
    height: 350px;
    width: 350px;
}
//  訂閱我們
.subscribe{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    // padding-bottom: 36px;
    height: 400px;
    &-content{
        //pos：a之後只能用margin推
        margin-bottom: 36px;
    }
}
// cart fixed modal
.cart{
    &-title{
        border-bottom: none;
    }
    &-footer{
        border-top: none;
    }
    &-img{
        height: 120px;
    }
}
.modal-content{
    background-color: $black; 
    overflow-y: auto;  //跟在 modal-dialog 加入 modal-dialog-scrollable 是一樣的嗎？
    height: 100%; //跟在 modal.content 旁邊加入 h-100 是一樣的
}
.modal.cart .modal-dialog{
    position: fixed;
    top: 0;
    right: 0;
    // bottom: 0;
    // width: 100%;
    height: 100%; //加入後 modal 的底部才會碰到瀏覽器最下方
    margin: 0; //加入後 modal 的上方才會碰到瀏覽器最上面
    transform: translate3d(0%, 0, 0);
}
