// header
.header{
    border: 1px solid $text-primary;
    &-title{
        font-size: 24px;
        color: $primary;
    }
    &-link{
        font-size: 16px;
        color: $text-primary;
    }
    &-link-cart{
        color: $black;
    }
    &-small-text{
        font-size: 12px;
        background-color: $primary-light;
        color: $white;
    }
}
// swiper
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-img{
    height: 350px;
    width: 350px;
}
//  訂閱我們
.subscribe{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    // padding-bottom: 36px;
    height: 400px;
    &-content{
        //pos：a之後只能用margin推
        margin-bottom: 36px;
    }
}
