* , *:befor , *:after  {
	box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a{
    display: block;
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

ul, ol, li{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}