.fz-3{
    font-size: 0.75rem; // 12px
}
.fz-3-half{
    font-size: 0.875rem; // 14px
}
.fz-4{
    font-size: 1rem; //16px
}
.fz-5{
    font-size: 1.25rem; //20px
}
.fz-5-half{
    font-size: 1.375rem; //22px
}
.fz-6{
    font-size: 1.5rem; //24px
}
.fz-7{
    font-size: 1.75rem; //28px
}
.fz-8{
    font-size: 2rem; //32px
}
.fz-9{
    font-size: 2.25rem; //36px
}
.fz-10{
    font-size: 2.5rem; //40px
}
// .fw-medium{
//     font-weight: 500;
// }
