.object-fit{
    object-fit: cover;
}
.text-white{
    color: $white;
}
.text-primary{
    color: $primary;
}
.text-black{
    color: $black;
}
.writing-mode{
    writing-mode: vertical-lr;
}
.viewport-center{
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-primary-light{
    background-color: $primary-light;
}

.w-120{
    width: 120px;
}

// test
// 待研究！！！是否每個新專案都要 overwrite BS 的樣式？？？？
.btn:hover{
    background-color: $black;
    color: $white;
}

// 清除 btn:focus, .form-control:focus 和 .navbar-toggler:focus 外框
.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover, .form-control:focus, .navbar-toggler:focus{
    box-shadow: none!important;
    outline: 0;
}