.object-fit{
    object-fit: cover;
}
.text-white{
    color: $white;
}
.text-primary{
    color: $primary;
}
.text-black{
    color: $black;
}
.writing-mode{
    writing-mode: vertical-lr;
}
.viewport-center{
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-primary-light{
    background-color: $primary-light;
}