// wk3 feedback：屬於 tuils 範圍
// .flex-row-reverse{
//     flex-direction: row-reverse;
// }

// .flex-align-items{
//     align-items: flex-start;
// }

// .mr-3{
//     margin-right: 30px;
// }

// .ml-3{
//     margin-left: 30px;
// }
// .mb-1{
//    margin-bottom: 8px; 
// }
.object-fit{
    object-fit: cover;
}
.text-white{
    color: $white;
}
.text-primary{
    color: $primary;
}