.navScroller{
    height: 3.25rem;
    overflow-y: hidden;
    & .nav{
        overflow-x: scroll;
        // 加入 pb 之後會無法垂直居中，也無法隱藏下方捲軸
        // padding-bottom: 1rem;
    }
}
.link-border-secondary{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: .2s;
        opacity: 0; 
    }
    &:hover {
        &::before {
        width: 100%;
        opacity: 1; } 
    }
    &--checked {
        &::before {
        width: 100%;
        opacity: 1; } 
    } 
}
