.scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track{
      background: $black;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: $primary-light;
      &:hover{
        background: shade-color($primary-light, 40%);
      }
    }
  }